

.players {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    margin: 0 auto;
}

.loader {
    width: 364px;
    height: 198px;
    border-radius: 20px;
    background-color: rgb(from var(--color2) r g b / .6);
    backdrop-filter: blur(5px);
}

