

.bg {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    width: 100vw;
}

.header {
    margin-bottom: 10px;
}

.main {
    height: 0;
    flex-grow: 1;
}

.loader {
    height: 90vh;
    width: 100%;
}